@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  }
  

html,body{
    height: 100%;
}

.container{
    margin: 0 auto;
    padding: 0 2%;
    width: 100%;
    max-width: 1280px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clear{
    clear: both;
}

#close{
    display: none;
}

/************************************************** HEADER ***********************************************************/

header{
    width: 100%;
    padding: 20px 0;
    display: flex;
    position: fixed;
    transition: 0.3s;
    z-index: 1;
}

.add-color{
    background-color:#06d8d5;
    box-shadow: 0px 0px 10px #000;
}

.remove-color{
    background-color: transparent;
}

.logo{
    color: #fff;
    letter-spacing: 3px;
}

.logo h1 span{
    color: #06d8d5;
}

.menu-mobile{
    display: none;
}

.logo-menu{
    display: none;
}

.menu-desktop ul{
    list-style: none;
}   

.menu-desktop ul li{
    display: inline-block;
    padding: 0 10px;

}

.menu-desktop li a{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
}

.menu-desktop li a:hover{
    color: #06d8d5;
}

.banner{
    width: 100%;
    height: 626px;
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
}

.name{
    color: #fff;
    letter-spacing: 2px;
    padding-top: 20%;
}
.name p{
    font-size: 15px;
}
.name p span{
    color:#06d8d5 ;
}

.name h2{
    font-size: 60px;
}

/*************************************************** SOBRE ************************************************** */

.sobre{
    padding: 60px 0;
    text-align: center;
}

.sobre h3{
    font-size: 30px;
    letter-spacing: 2px;
    text-shadow: 0px 0px 5px #000;
   
}

.sobre p{
    color:#06d8d5;
    font-size: 15px;
}
.sobre p:nth-of-type(1){
    margin-top: 7px;
    letter-spacing: 1px;
    
}
.sbore p span{
    display: inline-block;
}

.foto{
    width: 40%;
}

.foto img{

    width: 300px;
    margin-top: 50px;
    box-shadow: 0px 0px 15px #000;
}

.conteudo-sobre{
    width: 60%;
}

.conteudo-sobre p{
    max-width: 600px;
    display: inline-block;
    text-align: left;
    color: #000;
    margin-top: 15px;
    
}
.conteudo-sobre h3{
   text-align: left;
   margin-left: 65px;
   text-shadow: 0px 0px 5px #000;
}

.conteudo-sobre h3 span{
    color: #06d8d5;
}

.curriculo{
    width: 190px;
    margin: 0 auto;
    position: relative;
    top: -95px;
}

.buttons{
    background-color:#06d8d5;
    padding: 15px 0;
    display: block;
    margin-left: 40px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.curriculo a:hover{
    background-color:#09aaa7 ;
}

/************************************** PROJETOS **********************************************/
.work{
    width: 100%;
    height: 100vh;
    background-image: url(../img/projeto02.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    left: 0;

}


.work .lado{
    width: 40%;
    background:rgba(86, 86, 86, 0.3);
    height: 100vh;
  
}


.work .lado h1{
    padding-top: 50%;
    text-align: center;
    font-size: 37px;
    color: #fff;
    text-shadow: 0px 0px 5px #000;
}

.work .lado p{
    text-align: center;
    margin-top: 15px;
    color: #fff;
    text-shadow: 0px 0px 5px #000;
}

.work .lado button{
    width: 150px;
    height: 40px;
    margin-top: 15px;
    cursor: pointer;
    background-color: #06d8d5;
    border: none;
    box-shadow: 0px 0px 5px #06d8d5;
    border-radius: 10px;
    margin-left: 35%;
    transition:0.3s ;
    color: #fff;
}

.work .lado button:hover{
    background-color: #09aaa7;
}

.work .lado button a{
    text-decoration: none;
    
}

.slider{
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
    bottom: 50px;
    
}

#prev, #next{
    font-size: 40px;
    color: #06d8d5;
    cursor: pointer;
}

#prev, #next:hover{
    color: #09aaa7;
}

.preview{
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.preview img{
    width: 80px;
    height: 80px;
    margin: 0 10px;
    opacity: 0.3;
}

.preview .active{
    display: block;
    border: 3px solid #06d8d5;
    width: 110px;
    opacity: 1;
}  

.habilidade{
    padding: 50px;
    text-align: center;
}

.skills{
    padding: 30px 0;
    text-align: center;
    float: left;
    width: 33.3%;
}

.skills .card-body i{
    font-size: 70px;
   

}



/*CONTATOS */

.contact{
    padding: 50px 0;
}

.contato{
    width: 50%;
    height: 56vh;
    
}

.contato h2,.send h2{
    font-size: 35px;
    text-shadow: 0px 0px 5px #000;

}

.contato p{
    margin-top: 10px;
    font-size: 20px;
    letter-spacing: 2px;
   
}

.contato p a i{
    color: #000;
    text-decoration: underline;
    
}

.send{
    width: 50%;
}

.send form{
    width: 100%;
    max-width: 450px;

    margin-top: 10px;
}

.send form input{
   width: 100%;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
}

.send form .w50{
    display: flex;
}






.send form input[type=submit]{
    width: 30%;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    box-shadow: 0px 0px 5px #000;
    transition: 0.3s;
    border: none;
}

.send form input[type=submit]:hover{
    background-color: #09aaa7;
}

.send form textarea{
    width: 100%;
   
    border-radius: 10px;
    height: 140px;
    padding: 5px;
    resize: none;
}



.rodape{
    padding: 50px 0;
    background-color: #212121;
    text-align: center;
}

.rodape i{
    color: #06d8d5;
    font-size: 40px;
  
}


@media screen and (max-width:510px){


    .name{
        padding-top: 35%;
    }

    .banner{
        height: 400px;
    }

    .menu-desktop{
        display: none;
    }

    .menu-mobile{
        
        position: fixed;
        display: block;
    }

    .hide{
        width: 100%;
       position: fixed;
       left: -450px;
       transition: 1s;
    
    }

    .show{
        width: 100%;
        position: fixed;
        left: 0;
        transition: 1s;
   
    }

    .logo-menu{
        display: block;
        color: #fff;
        font-size: 25px;
        cursor: pointer;
    }

    .menu-mobile ul{
        text-align: center;
        padding-top: 25%;
        background-color: #212121;
        list-style: none;
        

    }

    .menu-mobile li{
        padding: 10px 0;
        border-bottom: 1px solid #fff;
    }

    .menu-mobile li a{
        color: #fff;
        text-decoration: none;
    }

    .sobre .flex{
        display: block;
       
    }

    .sobre .foto{
        width: 100%;
    }

    .sobre .conteudo-sobre {
        width: 100%;
        margin-top: 40px;
    }

    .curriculo{
        position: static;
    }

    .work .lado{
        width: 100%;
        height: 100%;
    }

    .work .info{
       
        position: relative;
        top: -90px;
    }

    .work{
        width: 100%;
        height: 400px;
        background-size: cover;
        background-position: center;
    }

    .preview{
        text-align: center;
    }

    .preview img{
        display: none;

    }

    .contact .flex{
        display: block;
       
    }

    .contato{
        width: 100%;
        text-align: center;
        height: 100%;
    }

    .contato h2{
        font-size: 20px;
    }

    .contato p{
        font-size: 13px;
        margin-top: 20px;

    }

    .send{
        width: 100%;
        margin-top: 50px;
    }

    .send h2{
        font-size: 20px;
        text-align: center;
    }

    .send form .w50{
        display: block;
    }

    .send form .w50 input[type=email]{
        margin-left: 0;
    }

    .icons{
        font-size: 35px;
    }

}





