@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    
    
    
}



html,body{
    height: 100%;
    position: relative;
}


.container{
    margin: 0 auto;
    padding: 0 2%;
    width: 100%;
    max-width: 1280px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clear{
    clear: both;
}

#close{
    display: none;
}

.slider-mobile{
    display: none;
}

/************************************************** HEADER ***********************************************************/

header{
    width: 100%;
    padding: 7px 0;
    display: flex;
    position: fixed;
    background-color: #fe3000;
    z-index: 5;
   
}




.logo{
    color: #fff;
    letter-spacing: 3px;
}

.logo h1 span{
    color: #fff;
}

.menu-mobile{
    display: none;
}

.logo-menu{
    display: none;
}

.menu-desktop ul{
    list-style: none;
}   

.menu-desktop ul li{
    display: inline-block;
    padding: 0 10px;

}

.menu-desktop li a{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
}

.menu-desktop li a:hover{
    color: #212121;
}



.banner{
    width: 100%;
    height: 626px;
    background-image: url(../img/bg2.jpg);
    background-position: center;
    background-size: cover;
}

.name{
    color: #fff;
    letter-spacing: 2px;
    padding-top: 20%;
}
.name p{
    font-size: 15px;
}
.name p span{
    color:#fe3000 ;
}

.name h2{
    font-size: 60px;
}

.servicos{
    padding: 85px;
}

.servicos h1{
    text-align: center;
    margin-bottom: 40px;
}

.servicos .card{
    width: 30%;
    text-align: center;
    
    padding: 40px;
}

.servicos .card i{
    font-size: 40px;
    color: #fe3000;
}

.servicos .card h3{
    margin-top: 10px;
    font-size: 18px;
}

.servicos .card p{
    margin-top: 10px;
    font-size: 16px;
    
}

.servicos .card:nth-of-type(2){
    background-color: #212121;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #212121;
}

.sobre{
    padding: 75px;  
    background-color: #212121;  
    color: #fff;
}

.sobre p,h1{
    margin: 20px auto;    
    max-width: 700px;
    line-height: 30px;
    text-align: justify;
}

.sobre h1{
    color:#fe3000 ;
}

.projetos{
    padding: 75px;
    text-align: center;
}

.projetos h1{
    text-align: center;
}

.projetos p{
    
    margin-bottom: 5px;
}

.projetos i{
    color: #fe3000;
}

.swiper-container {
    width: 100%;
    height: 100%;
    padding: 40px 25px;
    border-radius: 20px;
  }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    
    height: 400px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    transition: all 0.3s;
   
  }

  .swiper-slide:hover{
      transform: scale(1.2);
      z-index: 5;
      cursor: pointer;
      

  }

.layer{
    width: 100%;
    height: 100%;
    padding: 0 4%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
 

}


.layer h2{
    position: absolute;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    bottom: 25px;
    
}

.skills{
    padding-bottom: 30px;
    text-align: center;
    
}

.skills h1{
    text-align: center;
    color: #000;
}

.skills .icon-item{
    
    width: 33.3%;
    padding: 20px 30px;
    float: left;
    margin: 10px auto;
}

.skills .icon-item i{
    font-size: 50px;
}



.skills .icon-item P{
    margin-top: 6px;
    font-weight: bolder;
    color: #000;
}



.rodape{
    background-color: #212121;
}

.info-user{
    width: 40%;
    
    padding: 5% 40px;
   
    
}

.info-user i{
    margin: 0px 15px;
    font-size: 30px;
    color: #bdbdbd ;
}

.info-user p{
    font-size: 20px;
    font-weight: bolder;
    color: #bdbdbd ;
}

.line{
    display: flex;
    justify-content: first baseline;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 30px;
    
}

.links{
    margin-top: 10px;
}

.links ul{
    list-style: none;
}

.links li {
    display: inline-block;
}

@media screen and (max-width:510px){


    .logo h1 span{
        margin: 0 auto;
    }

    .menu-desktop{
        display: none;
    }

    .logo-menu{
        color: #fff;
        font-size: 30px;
        cursor: pointer;
        display: block;
    }

    .name{
        padding-top: 0;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .name h2{
        font-size: 35px;
    }

    .name p span{
        color: #fff;
    }

    .banner{
        height: 500px;
    }

    .servicos {

        padding: 30px 10px;
    }

    .servicos h1{
        margin-bottom: 0;
    }

    .servicos .container > .flex{
        
        justify-content: center;
        flex-direction: column;
    }

    .servicos .card{
        
        width: 100%;
    }

    .projetos{
        padding: 0;
    }

    .sobre{
        padding: 40px 15px;
    }

    .skills .icon-item{
        padding: 20px 10px;
    }

    .info-user {
        width: 100%;
    }

   .rodape .info-user {
       padding: 5% 0;
   }

}











