.btn-social{
    display: block;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ff7a57;
    color: #ff7a57;
    text-align: center;
    line-height: 40px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
}

.btn-social:hover {
    background: #ff7a57;
    color: #fff;
}